.not-found {
  text-align: center;
  margin: auto;
}
.not-found h1 {
  margin: 0 5rem 5rem;
}
.not-found button {
  margin: 2rem;
  padding: 0.3rem 0.5rem;
  color: white;
  background-color: #f135dd;
  border-radius: 8px;
}
